.loadpath
.project
.DS_Store
*~
*#
*.#
.bundle
db/*.sqlite3
log/*.log
tmp/*
coverage/*
rerun.txt
config/database.yml
doc/**/*
vendor/ruby
vendor/bundle/*
Gemfile.lock 
nbproject
nbproject/**/*
db/schema.rb
public/system
doc/*
public/.DS_Store
.bundle\n
log/*
