/* =============================================================================
   Base
   ========================================================================== */

body,
p 
{ 
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a
{
  transition:all 250ms;
}

.ubuntu
{
  font-family: 'Ubuntu', sans-serif;
}

div.shadow-one-side /* asks for a higher z-index on parent */
{
  position: absolute;
  z-index: 1;
  top: 54px;
  left: 10px;
  right: 10px;
  border-radius: 300px / 10px;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.6);
  height: 24px;
}

.filter
{
  display: inline-block;
}
.filter span.filter-up, 
.filter span.filter-down {
  display: block;
  width: 12px;
  height: 8px;
  cursor: pointer;
  background: url(image_path('sprite.png')) -1px -76px no-repeat transparent;
}
.filter span.filter-down {
  background-position: -15px -76px;
  margin-top: 1px;
}
.filter span.filter-up:hover, 
.filter span.filter-down:hover
{
  opacity:0.8;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner 
{ 
  position: relative;
  z-index:9990;
  background:#252525;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#banner address,
#banner p
{
  color:#fff;
  font-size:1.5em;
  text-shadow:0px 2px 0px #000;
}
#banner address
{
  line-height:4em;
  margin-bottom:0px;
}
#banner address:before
{
  content:"";
  display:inline-block;
  height:27px;
  width:29px;
  background:url(image_path('sprite.png')) 0 0 no-repeat transparent;
  margin-bottom:-7px;
  margin-right:5px;
}
#banner div.tel
{
  padding-top:18px;
  text-align:right;
}
#banner div.tel:before
{
  content:"";
  display:block;
  float:left;
  height:33px;
  width:17px;
  background:url(image_path('sprite.png')) -36px 0px no-repeat transparent; 
  margin-left: -25px;
  margin-top: 3px;
}
#banner div.tel p
{
  margin-bottom:3px;
}
#banner div.tel p a
{
  color:#fff;
}
#banner div.tel p a:hover
{
  color:#fff;
  text-decoration:underline;
}
#banner div.tel p span
{
  color:#b1b1b1;
  font-size:0.8em;
  word-spacing: -1px;
}

/*--------*/
section#slider-wrapper
{
  padding-bottom:20px;
}
#myCarousel
{
  padding: 20px;
  background-color: #ede8e8;
  border-radius:10px;
  border:1px solid #e6e2e2;
  transition:all 250ms;
}
#myCarousel:hover
{
  border-color:#d0d0d0;
}
#myCarousel:before,
#myCarousel:after
{
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 9px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 446px;
  max-height: 150px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  transform: rotate(-2deg);
}
#myCarousel:after
{
  right: 10px;
  left: auto;
  transform: rotate(2deg);
}
#myCarousel img
{
  border:1px solid rgba(255,255,255,0.2);
  width: 100%;
}
.carousel-control.left
{
  margin-left:-70px;
}
.carousel-control.right
{
  margin-right:-70px;
}
div.caption
{
  color:#fff;
  position: absolute;
  margin-top: -95px;
  width: 100%;
  height: 95px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-sizing: border-box;
  transition:all 250ms;
}
#myCarousel:hover div.caption
{
  background-color: rgba(0, 0, 0, 0.8);
}
div.caption p b
{
  font-size:1.2em;
}


/* =============================================================================
   Content
   ========================================================================== */
#content section
{
  border-bottom:1px solid #d3d6d9;
  padding-bottom:20px;
  background: #fefefe;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYyZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fefefe 0%, #f1f2f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f2f4));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f2f4',GradientType=0 );
}
#content section.bg-clear
{
  background:url(image_path('bg.png')) 0 0 repeat transparent;
}
#content section h2
{
  color:#eb550c;
  font-size:2.2em;
  margin:30px 0px;
}
#content section header h5,
#content section p.testi
{
  color:#686868;
}
#content section header
{
  margin-bottom:10px;
}
#content section header img
{
  margin-right:5px;
}
#content section header h5
{
  line-height:3.6em;
}
#content section p.testi
{
  line-height: 1.8em;
}
#content section ul.thumbnails
{
  margin-bottom:0px;
}
#content section div.thumbnail
{
  transition:all 250ms;
}
#content section div.thumbnail:hover
{
  border-color:#aaa;
}
#content section div.thumbnail:hover p
{
  background-color: rgba(0, 0, 0, 0.8);
}
#content section div.thumbnail a:hover
{
  text-decoration:none;
}
#content section div.thumbnail a p
{ 
  margin-bottom: 0px;
  margin-top: -65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  color: white;
  vertical-align: middle;
  padding-top: 15px;
  box-sizing: border-box;
  padding-left: 15px;
  transition:all 250ms;
}

/*--------*/
#content section#reasons div.reason
{
  margin-bottom:20px;
}
#content section#reasons div.reason h3,
#content section#reasons div.reason p
{
  color:#686868;
}
#content section#reasons div.reason h3
{
  margin-bottom:5px;
}
#content section#reasons div.reason p
{
  line-height:1.8em;
}
#content section#reasons div.reason.first h3:before,
#content section#reasons div.reason.second h3:before,
#content section#reasons div.reason.third h3:before,
#content section#reasons div.reason.fourth h3:before,
#content section#reasons div.reason.fifth h3:before,
#content section#reasons div.reason.sixth h3:before
{
  content:"";
  display: inline-block;
  width:28px;
  height:28px;
  background:url(image_path('sprite.png')) 0 -40px no-repeat transparent;
  margin:0px 5px -8px 0px;
}
#content section#reasons div.reason.second h3:before
{
  background-position:-30px -40px;
}
#content section#reasons div.reason.third h3:before
{
  background-position:-60px -40px;
}
#content section#reasons div.reason.fourth h3:before
{
  background-position:-91px -40px;
}
#content section#reasons div.reason.fifth h3:before
{
  background-position:-120px -40px;
}
#content section#reasons div.reason.sixth h3:before
{
  background-position:-153px -40px;
}


/*--------*/
#content.aboutus img
{
  margin-top:20px;
  box-shadow:0 1px 9px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#content.aboutus p,
#content.aboutus b
{
  color:#686868;
}
#content.aboutus ul p
{
  display: inline-block;
  margin-left:10px;
}

/*--------*/
#content.products section.header
{
  padding-bottom:0px;
}
#content.products section.header h2
{
  color:#252525;
}
#content.products section.header div.pull-right
{
  margin-top: 35px;;
}
#content.products section.header div.pull-right h4,
#content.products section.header div.pull-right select
{
  display: inline-block;
}
#content.products section.header div.pull-right h4
{
  font-size:1.5em;
}
#content.products section.header div.pull-right select
{
  margin-right:10px;
}
#content.products section.header div.pull-right .filter
{
  margin-bottom: -1px;
}
#content.products section:last-child
{
  background:url(image_path('bg.png')) 0 0 repeat transparent;
  padding-bottom: 0px;
}

/* =============================================================================
   Primary Content
   ========================================================================== */

#main
{
  margin-top:10px;
}
#main ul.thumbnails li:nth-child(2n+1)
{
  margin-left:0px;
}
#main ul.thumbnails div.thumbnail
{
  background-color: #fff;
  position: relative;
}
#main ul.thumbnails div.thumbnail img
{
  margin-bottom:10px;
}
#main ul.thumbnails div.thumbnail:hover p
{
  background:transparent;
}
#main ul.thumbnails div.thumbnail div.social
{
  margin-top: 13px;
  margin-left: 5px;
}
#main ul.thumbnails div.thumbnail div.social span.likes
{
  margin-right:10px;
}
#main ul.thumbnails div.thumbnail div.social span.likes:before,
#main ul.thumbnails div.thumbnail div.social span.thumbs:before
{
  content:"";
  display: inline-block;
  width:14px;
  height:16px;
  background:url(image_path('sprite.png')) 0px -91px no-repeat transparent;
  margin-bottom:-4px;
  margin-right:5px;
}
#main ul.thumbnails div.thumbnail div.social span.thumbs:before
{
  background-position: -19px -91px;
}
#main div.in-stock
{
  width:103px;
  height:102px;
  background:url(image_path('in_stock.png')) 0 0 no-repeat transparent;
  display: block;
  position: absolute;
  right:5px;
}


/* =============================================================================
   Sidebar
   ========================================================================== */

#content.products aside
{
  padding:10px;
  border:1px solid #d6d8db;
  border-top: none;
  border-bottom:none;
  background: #fefefe;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYyZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fefefe 0%, #f1f2f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f2f4));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  background: linear-gradient(top,  #fefefe 0%,#f1f2f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f2f4',GradientType=0 );
}
#content.products aside h2
{
  color:#252525;
  margin:0px 0px 15px;
}
#content.products aside ul a
{
  color:#8c8c8c;
  border-color:#eee;
}
#content.products aside ul a:hover
{
  background: #f9fcbb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4MiUiIHN0b3AtY29sb3I9IiNmOWZjYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTNkZWExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  #f9fcbb 82%, #e3dea1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(82%,#f9fcbb), color-stop(100%,#e3dea1));
  background: -webkit-linear-gradient(top,  #f9fcbb 82%,#e3dea1 100%);
  background: -o-linear-gradient(top,  #f9fcbb 82%,#e3dea1 100%);
  background: -ms-linear-gradient(top,  #f9fcbb 82%,#e3dea1 100%);
  background: linear-gradient(top,  #f9fcbb 82%,#e3dea1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcbb', endColorstr='#e3dea1',GradientType=0 );
}
#content.products aside ul a:after
{
  content:"";
  display: inline-block;
  width:8px;
  height:11px;
  background:url(image_path('sprite.png')) -32px -75px no-repeat transparent;
  float: right;
  opacity:0.2;
  margin-top:2px;
}
#content.products aside ul a:hover:after
{
  opacity:1;
}

/* =============================================================================
   Posts
   ========================================================================== */



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

footer
{
  border-top:1px solid #828588;
  background-color: #252525;
  padding-bottom: 15px;
}
footer div.row
{
  margin:30px 0px;
}
footer a
{
  display: block;
  text-align:center;
  color:#fff;
  margin-bottom:5px;
}
footer a:hover
{
  color:#aaa;
}
footer hr
{
  border-top:1px solid #1f1f1f;
  border-bottom:1px solid #2f2f2f;
}
footer p
{
  text-align:center;
  color:#fff;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}