<% title 'Buy Automatic Egg Incubators, Hatchers & Incubator Parts.' %>

<%= render :partial => "carousel" %>
</div><!--/.navbar -->
<div id="content">
  <%= render :partial => "top_selling" %>
  <%= render :partial => "customer_testimonials" %>
  <section id="reasons">
    <div class="container">
      <h2 class="ubuntu">Why you should use echo-chicks</h2>
      <div class="row-fluid">
        <div class="span4">
          <div class="reason first">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
          <div class="reason second">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
        </div>
        <div class="span4">
          <div class="reason third">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
          <div class="reason fourth">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
        </div>
        <div class="span4">
          <div class="reason fifth">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
          <div class="reason sixth">
            <h3>Lorem Ipsum Dollor</h3>
            <p>"Praesent sapien enim, venenatis sit amet sagittis at, tincidunt eget nunc."</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>