<% title "About IONIC Medical Devices" %>
<% set_meta_tags(:keywords    => "IONIC Jade massage beds, thermal massage, infrared massagers, projector massagers, thermal therapy, thermal massage cushion seats. "%>
<% set_meta_tags(:description =>  @page.try(:short_description))   %>
<% set_meta_tags(:canonical   =>  about_us_url ) %>
<% set_meta_tags(:open_graph => {
    :title => "State of the art massage equipments to help heal your spinal and back problems.(Jade massage beds, Jade mattresses and thermal therapy equipments)",
    :type  => :website,
    :url   => about_us_url,
    :image => "http://www.ionicmedicaldevices.com/uploads/photo/image/11/featured_main-photo.png",
    :description => "IONIC Medical Devices manufactures and supplies thermal massage beds, infrared massage devices, thermal therapy equipments."
  })
%>

<div id="content" class="aboutus">
  <section>
    <div class="container">
      <div class="row-fluid">
	      <div class="span5">
					<%= image_tag(@page.image_url(:featured)) if @page.image_url.present? %>
         </div>
        <div class="span7">
          <h2 class="ubuntu">About IONIC Medical Devices.</h2>
          <%= simple_format @page.try(:short_description)     %>
        </div>
      </div>
  </section>
</div>