<% title 'Contact Information' %>

<div id="content" class="aboutus">
  <section>
    <div class="container">
      <div class="row-fluid">
        <div class="span7">
          <h2 class="ubuntu"><%= @page.title %></h2>
          <%= simple_format @page.try(:short_description)     %>
        </div>
      </div>
  </section>
  <section>
    <div class="container">
      <div class="row-fluid">
        <div class="span7">
          <h2 class="ubuntu">Regional Offices</h2>
          <%= simple_format @page.try(:long_description) %>
        </div>
      </div>
  </section>
</div>