  
<div id="content" class="aboutus">
    <section>
      <div class="container">
        <div class="row-fluid">
          <div class="span5">
            <%= image_tag(@page.image_url(:featured)) %>
          </div>
          <div class="span7">
            <h2 class="ubuntu"><%= @page.title %></h2>
            <%= simple_format @page.short_description     %>
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="row-fluid">
          <div class="span7">
            <h2 class="ubuntu">Regional Offices</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eget diam lectus.</p>
            <ul class="unstyled">
              <li><i class="icon-ok"></i><p><b>
                Num sociis natoque penatibus et magnis
              </b></p></li>
              <li><i class="icon-ok"></i><p><b>
                Num sociis natoque penatibus et magnis
              </b></p></li>
              <li><i class="icon-ok"></i><p><b>
                Num sociis natoque penatibus et magnis
              </b></p></li>
              <li><i class="icon-ok"></i><p><b>
                Num sociis natoque penatibus et magnis
              </b></p></li>
            </ul>
            <p>Suspendisse at felis tortor. Donec tincidunt tellus vitae felis dignissim aliquam.</p>
          </div>
          <div class="span5">
            <img src="../assets/img/about-us2.jpg" alt="about-us">
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="row-fluid">
          <div class="span5">
            <img src="../assets/img/about-us3.jpg" alt="about-us">
          </div>
          <div class="span7">
            <h2 class="ubuntu">Why Echochicks LTD?</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eget diam lectus. Cras in arcu risus, ut tempus nisi. Donec lorem metus, porttitor sed euismod commodo, ultricies quis tellus. <b>Vestibulum non lorem massa</b>, sit amet posuere erat. Aliquam erat volutpat. Integer lorem tortor, consectetur tincidunt congue id, luctus non libero. Ut nisi justo, tincidunt quis sodales eget, cursus vitae massa. 
            </p>
            <p>
<b>Pellentesque ullamcorper</b> nibh libero, at gravida magna. Nullam eu ipsum ac turpis gravida placerat. Integer porttitor dui eget libero egestas sed ornare arcu convallis. Suspendisse at felis tortor. Donec tincidunt tellus vitae felis dignissim aliquam. </p>
          </div>
        </div>
    </section>
  </div>