<% title 'Users' %>

<%= link_to 'Add New User', new_admin_user_url %><br>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td class="leftalign"><%= link_to user.name, edit_admin_user_url(user) %></td>
				<td class="leftalign"><%= user.email %></td>
			</tr><!--/table-row -->
		<% end %>
   <!--/table-row -->
	</tbody><!--/table-body -->
</table>