<% title 'IONIC Jade Massage Beds' %>
<div id="content" class="products">
  <section class="header">
    <div class="container">
      <h2 class="pull-left">Thermal Therapy & Massage Devices</h2>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row-fluid">
        <aside class="span3">
          <h2>Our Products</h2>
          <!-- <ul class="nav nav-tabs nav-stacked">
            <li>
              <a href="#">
                0-50 Eggs
              </a>
            </li>
            <li>
              <a href="#">
                50-100 Eggs
              </a>
            </li>
            <li>
              <a href="#">
                300-500 Eggs
              </a>
            </li>
            <li>
              <a href="#">
                500+ Eggs
              </a>
            </li>
            <li>
              <a href="#">
                Incubator Packages
              </a>
            </li>
            <li>
              <a href="#">
                Hatchers
              </a>
            </li>
          </ul> -->
        </aside><!--/.aside -->
        <div class="span9" id="main">
          <ul class="thumbnails">
	          <% @products.each do |product| %>
	            <li class="span6">
	              <div class="thumbnail clearfix">
									<%= link_to image_tag(product.photos.first.image_url(:product)), product_url(product) if product.photos.present? %>
	                <h5><%= link_to product.title, product_url(product) %></h5>
	                <h1 class="price pull-right"><%= number_to_currency(product.price, :unit => 'Kes') %></h1>
	              </div>
	            </li>
	          <% end %>
          </ul><!--/ul.thumbnails -->
        </div><!--/.span8 -->
      </div><!--/.row-fluid -->
    </div><!--/.container -->
  </section>
</div>