<div class="shadow-one-side"></div>
<div id="banner">
  <div class="container">
    <address class="pull-left ubuntu">
      Meridian Building, Next to Tuskys, opposite Kenya Archives
    </address>
    <div class="pull-right tel">
      <p class="ubuntu"><%= link_to "Call us at: +254-723-456-456" %></p>
      <p class="ubuntu"><span><%= "Monday - Friday 9:00 AM - 18:00 PM" %></span></p>
    </div>
  </div>
</div>