<footer>
  <div class="container">
    <div class="row">
      <div class="span3 offset1">
        <%= link_to "How to order egg incubators"%>
        <%= link_to "How do egg incubators work" %>
      </div>
      <div class="span3">
        <a href="#">Egg incubation guide</a>
        <a href="#">Delivery and returns egg incubators</a>
      </div>
      <div class="span3">
        <a href="#">Aenean a erat magna</a>
        <a href="#">Maecenas at ligula ante</a>
      </div>
    </div>
    <hr>
    <p>&copy; 2012 Echochicks Copyright. All rights reserved.</p>
  </div>
</footer>