<div class="nav-collapse">
  <ul class="nav ubuntu">
    <li class="dropdown active"><%= link_to 'Egg Incubators<b class="caret"></b>'.html_safe, products_url %></li>
    <li><%= about_us_url   %></li>
    <li><%= contact_us_url %></li>
  </ul><!--/ul.nav -->
</div><!--/.nav-collapse -->